---
import { Image } from "astro:assets";

import "../styles/work.css";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/HeroWorkPage.astro";
import HandStroke from "../components/HandStroke.astro";

import SpecificationsFirst from "../assets/images/works/spectraxe/specifications-1.png";
import SpecificationsSecond from "../assets/images/works/spectraxe/specifications-2.png";
import StateComponentFirst from "../assets/images/works/spectraxe/state-component-1.png";
import StateComponentSecond from "../assets/images/works/spectraxe/state-component-2.png";
import StateComponentThird from "../assets/images/works/spectraxe/state-component-3.png";
import StateLoading from "../assets/images/works/spectraxe/state-loading.png";
import StateError from "../assets/images/works/spectraxe/state-error.png";
import ProblemExplorationFirst from "../assets/images/works/spectraxe/problem-exploration-1.png";
import ProblemExplorationSecond from "../assets/images/works/spectraxe/problem-exploration-2.png";
import RequirementsFirst from "../assets/images/works/spectraxe/requirements-1.png";
import RequirementsSecond from "../assets/images/works/spectraxe/requirements-2.png";
import FlowMob from "../assets/images/works/spectraxe/flow-mob.png";
import FlowDesk from "../assets/images/works/spectraxe/flow-desk.png";
import ConceptFirst from "../assets/images/works/spectraxe/concept-1.png";
import ConceptSecond from "../assets/images/works/spectraxe/concept-2.png";

import Star from "../components/Star.astro";
import Book from "../assets/images/works/spectraxe/book.svg";
import Nastya from "../assets/images/works/spectraxe/nastya.svg";
---

<Layout
  title="Introducing the block trade functionality"
  description="The feature streamlined large-volume transactions and boosted the option trading platform."
>
  <Hero
    title="Introducing the block trade functionality"
    description="The feature increased efficiency of large-volume transactions for over 5% of users."
    client="Spectraxe"
    role="UX/UI designer"
    duration="Mar 2025 — present time"
    goal="Create a new mechanism for booking and matching — block trades, which provides the ability to liquidity providers to book pre-agreed trades with a known counterparty."
    outcome={`I designed a block trading feature that simplifies large-order trading by consolidating it into a single transaction. This allows liquidity providers to efficiently input trade details, verify counterparties, and confirm transactions securely. The first piece of user feedback was, <span>“This was surprisingly easy.”</span>`}
    Icon={Star}
  />

  <section class="work__section two-cols">
    <h2 class="heading-l">Process</h2>

    <section id="problem-exploration" class="work-section__step">
      <h3 class="heading-m">
        <HandStroke number="1" />
        Problem exploration
      </h3>
      <p>
        I <span class="font-bold">researched the challenges</span> faced by liquidity
        providers and traders when executing large orders, using <span
          class="font-bold">user interviews</span
        > provided by stakeholders, and compiled a summary of financial regulations
        impacting block trades.
      </p>

      <figure class="card card_big-grey grid md:col-span-2">
        <figcaption class="sr-only">Research screenshots</figcaption>
        <Image
          class="border border-light/10"
          src={ProblemExplorationFirst}
          alt="Table UI with column filtering, resizing, and sorting"
        />
        <Image
          class="border border-light/10 z-1"
          src={ProblemExplorationSecond}
          alt="Table UI with strategy links and layout settings"
        />
      </figure>

      <p class="mb-[0.875em]">
        From my research, I identified <span class="font-bold"
          >regulatory standards</span
        > and <span class="font-bold">key benefits</span> of block trade functionality
        for institutional traders:
      </p>

      <ul class="list-disc list">
        <li>
          Off-exchange execution of large trades <span class="font-bold"
            >reduces price volatility,</span
          > preserving trade value.
        </li>
        <li>
          Aggregated trades <span class="font-bold"
            >lower transaction fees.</span
          >
        </li>
        <li>
          Confidential deal negotiations prevent market sentiment shifts, <span
            class="font-bold">protecting trader strategies.</span
          >
        </li>
      </ul>

      <Book
        aria-hidden="true"
        class="hidden md:block md:w-full md:aspect-7/2 md:row-start-1 md:row-end-3 md:self-end"
        stroke="currentColor"
      />
    </section>

    <section class="work-section__step">
      <h3 class="heading-m">
        <HandStroke number="2" />
        Defining requirements
      </h3>
      <p>
        In collaboration with the stakeholders we defined the following
        successful flow:
      </p>

      <figure class="grid gap-svw sm:grid-cols-[.75fr_1fr] without-radius">
        <!-- Change figcaption -->
        <figcaption class="sr-only">Scenario for User testing</figcaption>
        <Image
          src={RequirementsFirst}
          alt="Table outlining a user testing scenario for filtering and exploring a strategy. Includes specific questions about table usage and layout, and end questions for user feedback."
        />
        <Image
          src={RequirementsSecond}
          alt="Table outlining a user testing scenario for filtering and exploring a strategy. Includes specific questions about table usage and layout, and end questions for user feedback."
        />
      </figure>

      <p class="mb-[0.875em]">
        Based on insights from the exploration phase and collaboration with the
        stakeholders, I worked together with business analyst and developers to
        define clear functional and non-functional requirements.
      </p>
      <h4 class="heading-s mb-[0.875em]">Key requirements included:</h4>
      <ol class="list-decimal list">
        <li>
          An <span class="font-bold">order entry</span> window for liquidity providers
          initiating pre-agreed trades.
        </li>
        <li>
          Preview screen for liquidity providers to be able to <span
            class="font-bold">cancel the trade</span
          > before it's accepted.
        </li>
        <li>
          A user interface for participants for <span class="font-bold"
            >confirming or rejecting</span
          > pre-agreed trades.
        </li>
        <li>
          <span class="font-bold">Notification</span> about the block trade pending.
        </li>
        <li>
          The order description with a <span class="font-bold">pending</span> status
          available in a blotter.
        </li>
        <li>
          <span class="font-bold">Post-trade ticket</span> for the both sides of
          the block trade.
        </li>
      </ol>
    </section>

    <section class="work-section__step">
      <h3 class="heading-m">
        <HandStroke number="3" />
        Architecture & wireframing
      </h3>
      <p class="mb-section-sm">
        Next, I designed 2 variants of the system architecture to propose them
        to the team and stakeholders to select the best option together.
      </p>

      <div
        id="concepts"
        class="card card_big-grey md:col-span-2 [&_figcaption]:text-pink-700 [&_figcaption]:text-sm"
      >
        <h3 class="mb-[1em]">Concepts of the flow's starting points</h3>
        <div class="flex flex-col gap-y-section-sm">
          <figure class="flex flex-col gap-y-[1em] without-radius">
            <figcaption class="font-bold">
              <p>
                Option 1:<br />Separate entry point available for LPs + new
                interface for the block trade order entry.
              </p>
            </figcaption>

            <Image
              src={ConceptFirst}
              alt="Table UI with column filtering, resizing, and sorting"
            />
          </figure>

          <figure class="flex flex-col gap-y-[1em] without-radius">
            <figcaption class="font-bold ps-[5.6%]">
              <p>
                Option 2:<br />Switch mode in the order entry to do to the block
                trade.
              </p>
            </figcaption>
            <Image
              src={ConceptSecond}
              alt="Table UI with strategy links and layout settings"
            />
          </figure>
        </div>
      </div>

      <p class="mb-[0.875em] mt-section-xs">
        We decided to <span class="font-bold">stick with the first option</span>
        and make the block trade functionality <span class="font-bold"
          >more distinctive</span
        > from the regular order entry window.
      </p>
      <p class="mb-[0.875em]">
        I mapped out <span class="font-bold"
          >the flow ensuring seamless integration with the platform's
          infrastructure. Using Figma, I created <span class="font-bold"
            >wireframes</span
          > to visualize the user journey:
        </span>
      </p>
      <ul class="list-disc list mb-[0.875em]">
        <li>
          An order entry for initiating block trades, with fields for the time
          of agreement and counterparty selection.
        </li>
        <li>A confirmation screen displaying trade terms.</li>
        <li>
          An acceptance screen for a participant and a preview screen with
          ability to cancel for a liquidity provider.
        </li>
        <li>Notifications for pending block trade.</li>
      </ul>
      <p>
        Iterative <span class="font-bold"
          >feedback sessions with stakeholders</span
        > refined the wireframes, balancing usability with technical feasibility
        to create an intuitive experience for traders.
      </p>

      <figure class="card card_big-grey gap-[1em] without-radius">
        <figcaption class="font-bold">Flow</figcaption>
        <Image
          class="lg:hidden"
          src={FlowMob}
          alt="Table outlining a user testing scenario for filtering and exploring a strategy. Includes specific questions about table usage and layout, and end questions for user feedback."
        />
        <Image
          class="hidden lg:block"
          src={FlowDesk}
          alt="Table outlining a user testing scenario for filtering and exploring a strategy. Includes specific questions about table usage and layout, and end questions for user feedback."
        />
      </figure>

      <Nastya
        aria-hidden="true"
        class="hidden md:block md:w-full md:aspect-3/2 md:row-start-4 md:row-end-8 md:self-end"
        stroke="currentColor"
      />
    </section>

    <section class="work-section__step">
      <h3 class="heading-m">
        <HandStroke number="4" />
        Design documentation
      </h3>
      <p class="mb-[0.875em]">
        In the final phase, I compiled comprehensive <span class="font-bold"
          >design documentation,</span
        > including:
      </p>
      <ul class="list-disc list">
        <li>detailed UI mockups,</li>
        <li>interaction flows,</li>
        <li>technical specifications for developers.</li>
      </ul>

      <figure
        class="card card_big-grey gap-[1em] md:grid md:grid-cols-2 without-radius"
      >
        <figcaption class="font-bold md:col-span-2">Specifications</figcaption>
        <Image
          src={SpecificationsFirst}
          alt="Screenshot of the Strategy page of the Asset management app after redesign"
        />
        <Image
          src={SpecificationsSecond}
          alt="Screenshot of the Strategy page of the Asset management app after redesign"
        />
      </figure>

      <p class="mb-[0.875em]">
        The documentation <span class="font-bold">outlined edge cases</span> and
        <span class="font-bold">error-handling mechanisms</span> to ensure robustness.
      </p>
      <p class="mb-section-sm">
        <span class="font-bold">User testing</span> with a small group of traders
        confirmed that the feature reduced complexity and improved trade predictability.
        Final changes were made based on feedback, ensuring the design met the goal
        of a clear, reliable block trade experience.
      </p>

      <div
        id="states"
        class="card card_big-grey md:col-span-2 [&_figcaption]:text-pink-700 [&_figcaption]:text-sm"
      >
        <h3 class="mb-[1em]">States & details</h3>
        <div class="flex flex-col gap-y-section-sm">
          <figure class="flex flex-col gap-y-[1em] without-radius">
            <figcaption class="font-bold">Loading</figcaption>

            <Image
              src={StateLoading}
              alt="Table UI with column filtering, resizing, and sorting"
            />
          </figure>

          <figure
            id="components"
            class="flex flex-col gap-y-[1em] without-radius"
          >
            <figcaption class="font-bold">Components</figcaption>
            <div
              class="grid w-84 max-w-full grid-cols-[minmax(0,1.3fr)minmax(0,1.2fr)minmax(0,1fr)] gap-x-[2svw] sm:w-3/4 lg:flex lg:flex-col lg:h-full lg:gap-y-2.5 lg:justify-between lg:w-full"
            >
              <Image
                src={StateComponentFirst}
                alt="Table UI with strategy links and layout settings"
              />
              <Image
                class="lg:w-9/10"
                src={StateComponentSecond}
                alt="Table UI with strategy links and layout settings"
              />
              <Image
                class="lg:w-2/3"
                src={StateComponentThird}
                alt="Table UI with strategy links and layout settings"
              />
            </div>
          </figure>
          <figure class="flex flex-col gap-y-[1em] without-radius">
            <figcaption class="font-bold">Error</figcaption>
            <Image
              src={StateError}
              alt="Table UI with strategy links and layout settings"
            />
          </figure>
        </div>
      </div>
    </section>
  </section>

  <section class="work__section two-cols">
    <h2 class="heading-l">Outcome</h2>
    <p>
      The block trading feature increased efficiency of large-volume
      transactions for over 5% of users, improved platform liquidity and
      strengthened competitive positioning in the options trading market.
    </p>
  </section>
</Layout>
