---
const { data } = Astro.props;

import DequeIcon from "../assets/images/certificates/deque_logo.png";
import IdfIcon from "../assets/images/certificates/idf_logo.png";
import { Image } from "astro:assets";

const Icon =
  data.organization === "Interaction Design Foundation" ? IdfIcon : DequeIcon;
---

<li
  class="grid grid-cols-[max-content_minmax(0,_1fr)] gap-x-3 md:gap-x-4 lg:gap-x-5"
>
  <h4 class="heading-s self-end">{data.course}</h4>
  <span>{data.organization} '{data.year}</span>
  <Image
    src={Icon}
    width={Icon.width / 2}
    densities={[1.5, 2]}
    alt={`Logo of ${data.organization}`}
    decoding="async"
    loading="lazy"
    class="order-first row-span-2 self-center w-10 max-w-[40px] aspect-square"
  />
</li>
