---
const {
  title,
  description,
  secondDescription,
  client,
  role,
  duration,
  goal,
  outcome,
  Icon,
} = Astro.props;
---

<div>
  <header class="mb-[2em] w-[min(54ch,_100%)]">
    <h1 class="heading-l">{title}</h1>
    <p
      class="font-bold relative [&_svg]:w-[1.5em] [&_svg]:max-w-[64px] [&_svg]:aspect-[5/4] [&_svg]:absolute [&_svg]:top-[-1em] [&_svg]:right-[-1em] md:[&_svg]:w-[2.5em] md:[&_svg]:top-full lg:[&_svg]:translate-x-4/1"
    >
      {description}
      {Icon && <Icon />}
    </p>
    {
      secondDescription && (
        <p class="font-bold mt-[0.5em]">{secondDescription}</p>
      )
    }
  </header>

  <section id="intro" class="grid gap-y-[2.5em] md:grid-rows-[min-content_1fr]">
    <h2 class="sr-only">Intro</h2>
    <div
      class="grid grid-cols-[repeat(auto-fit,_minmax(9em,_1fr))] gap-4 md:grid-cols-1 md:row-span-full"
    >
      {
        client && (
          <div>
            <h3 class="text-em-sm">Client</h3>
            <span>{client}</span>
          </div>
        )
      }
      <div>
        <h3 class="text-em-sm">Role</h3>
        <span>{role}</span>
      </div>
      <div class="col-span-full">
        <h3 class="text-em-sm">Duration</h3>
        <span>{duration}</span>
      </div>
      <p class="text-em-sm text-light col-span-full">
        Due to confidentiality agreements, only certain aspects of the redesign
        work can be shared, without revealing specific details about the
        project.
      </p>
    </div>

    <div>
      <h3 class="heading-s mb-[.75em]">Goal</h3>
      <span>{goal} </span>
    </div>
    <div>
      <h3 class="heading-s mb-[.75em]">Outcome</h3>
      <span>{outcome}</span>
    </div>
  </section>
</div>
