---
import { Image } from "astro:assets";
import Arrow from "../assets/images/svg/arrow.svg";
import External from "../assets/images/svg/external.svg";

const { data, id, style } = Astro.props;
const isExternal = data.behanceUrl;
const href = isExternal ? data.behanceUrl : `${id}`;
---

<li
  data-work-card
  style={style}
  class="card card_big-grey gap-y-3 pb-0 relative overflow-hidden *:z-1 *:not-[a]:pointer-events-none md:gap-y-4 lg:gap-y-5 after:block after:w-1/4 after:aspect-square after:rounded-[42%] after:bg-accent after:absolute after:top-0 after:right-0 after:z-0 after:translate-x-full after:-translate-y-full after:opacity-0 after:transition after:duration-666 has-[a:hover]:after:translate-x-1/12 has-[a:hover]:after:-translate-y-1/4 has-[a:hover]:after:opacity-100"
>
  <a
    href={href}
    target={isExternal ? "_blank" : "_self"}
    data-umami-event={isExternal ? "click-bahance-case" : "click-internal-case"}
    class="flex justify-between gap-x-4 items-center before:absolute before:inset-0 before:z-2"
  >
    <h3 class="heading-s">{data.title}</h3>
    {
      isExternal ? (
        <div aria-hidden="true" class="flex items-center gap-3">
          <span class="hidden md:block">Behance</span>
          <External
            width="33px"
            stroke="currentColor"
            class="aspect-square shrink-0"
          />
        </div>
      ) : (
        <Arrow
          width="3em"
          aria-hidden="true"
          stroke="currentColor"
          class="aspect-3/1 shrink-0 max-w-[70px]"
        />
      )
    }
  </a>
  <ul class="flex flex-wrap gap-1.5 mb-4 lg:gap-2.5 lg:mb-6">
    {
      data.tags.map((tag) => (
        <li class="text-em-sm text-light/90 p-[0.5em] rounded-md border border-solid border-inherit leading-none">
          {tag}
        </li>
      ))
    }
  </ul>
  <Image
    class="w-full mx-auto md:w-8/9 lg:w-7/8 xl:w-6/7"
    src={data.cover}
    alt={data.coverAlt}
  />
</li>
